$primary: #901c1c;
$secondly: #d3573c;

@mixin mobile-only {
  @media screen and (max-width: 599px) {
    @content;
  }
}
html {
  scroll-behavior: smooth;
}

:root {
  --modal-duration: 0.8s;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Noto Sans JP', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  caret-color: $secondly;
}

body {
  height: 105vh;
  @include mobile-only {
    margin-bottom: 19vh;
  }
}
body::-webkit-scrollbar {
  width: 0 !important;
}
#body {
  height: 100%;
  width: 100%;
  position: relative;
}
//NAV
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 4rem;
  @include mobile-only {
    margin: 42px 0.5rem;
    flex-wrap: wrap;
  }

  .imgg a {
    width: 110px;
    height: 40px;
    display: block;
    @include mobile-only {
      width: 110px;
      height: 40px;
    }
    img {
      width: 110px;
      height: 40px;
      @include mobile-only {
        margin-left: 0;
      }
    }
  }
  nav {
    width: auto;
    @include mobile-only {
      margin: 0 auto;
    }
  }
  .nav {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 2rem;
    @include mobile-only {
      margin: 0 auto;
    }
    li {
      border: solid 1px#E5E5E5;
      border-radius: 10px;
      margin-right: 3px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #901c1c;
        a {
          color: #fafafa;
        }
      }
      a {
        color: $primary;
        font-size: 0.6rem;
        font-weight: bold;
        margin: 0.5rem;
        display: block;
      }
    }
  }
  .titre {
    color: $primary;
    font-size: 1.2rem;
    margin-right: 2rem;
    white-space: nowrap;
    @include mobile-only {
      font-size: 1.1rem;
      margin-right: 1rem;
      position: absolute;
      top: 48px;
      right: 0.5rem;
    }
  }
}

#button {
  display: inline-block;
  background-color: $primary;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  outline: none;
  border: none;
}
#button::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: $secondly;
}
#button:active {
  background-color: $secondly;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.btnn {
  border: 0px;
  width: 200px;
  height: 200px;
}
#upBtn {
  height: 25px;
  width: 16vw;
  background-color: #db8876;
  white-space: nowrap;
  color: black;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  position: absolute;
  position: fixed;
  top: 3px;
  left: 42vw;
  @include mobile-only {
    width: 40vw;
    font-size: 0.7rem;
    left: 30vw;
  }
}

h1 {
  color: $primary;
  font-size: 1.2rem;
  margin-right: 2rem;
  white-space: nowrap;
  @include mobile-only {
    font-size: 1.1rem;
    margin-right: 1rem;
    position: absolute;
    top: 48px;
    right: 0.5rem;
  }
}
// list  des photographes
.block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-list {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem 3rem 1rem;
    @include mobile-only {
      margin: 0 1rem 2rem 1rem;
    }
    &__link {
      &__portrait {
        & img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
            0 6px 20px 0 rgb(0 0 0 / 19%);
        }
      }
      &__name {
        color: $secondly;
        font-size: 2rem;
      }
    }
    &__info {
      &--location {
        color: $primary;
        font-weight: bold;
      }
      &--tagline {
        font-size: 0.9rem;
        color: #525252;
      }
      &--prix {
        font-size: 0.9rem;
        color: #757575;
      }
    }
    &__tag {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        border: solid 1px#E5E5E5;
        border-radius: 10px;
        color: $primary;
        font-size: 0.7rem;
        font-weight: bold;
        margin: 0.2rem;
        padding: 0.2rem 0.5rem;
        &:hover {
          background-color: #901c1c;
          color: #fafafa;
        }
      }
    }
  }
}

// photographer page
.bi.bi-heart-fill {
  margin-top: 2px;
}
.list {
  &-ban {
    height: 300px;
    background-color: #fafafa;
    margin: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      height: 150px;
      margin: 1rem 0.5rem;
    }
    &-info {
      display: flex;
      flex-flow: column wrap;
      height: 300px;
      margin-left: 2rem;
      @include mobile-only {
        height: 150px;
        margin: 0.5rem;
      }
      &__name {
        color: $secondly;
        font-size: 2.8rem;
        margin-top: 3rem;
        @include mobile-only {
          font-size: 1.2rem;
          margin-top: 1rem;
        }
      }
      &__location {
        color: $primary;
        font-weight: bold;
        margin-bottom: 1rem;
        @include mobile-only {
          margin-bottom: 0.2rem;
          font-size: 0.9rem;
        }
      }
      &__tagline {
        font-size: 0.9rem;
        color: #525252;
        margin-bottom: 1rem;
        @include mobile-only {
          margin-bottom: 0.5rem;
          font-size: 0.7rem;
        }
      }
      &__tag {
        display: flex;
        flex-wrap: wrap;
      }
      &__tag a {
        border: solid 1px#E5E5E5;
        border-radius: 10px;
        color: $primary;
        font-size: 0.7rem;
        font-weight: bold;
        padding: 0.2rem 0.5rem;
        margin: 0 0.5rem 0 0;
        &:hover {
          background-color: #901c1c;
          color: #fafafa;
        }
        @include mobile-only {
          margin: 0.2rem;
          font-size: 0.5rem;
        }
      }
    }
    &-img {
      width: 200px;
      margin-right: 2rem;
      @include mobile-only {
        width: 120px;
        margin-right: 1rem;
      }
    }
    & img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
      object-fit: cover;
      @include mobile-only {
        height: 120px;
        width: 120px;
        position: absolute;
        right: 0.6rem;
        top: 85px;
      }
    }
    &__modal {
      position: absolute;
      top: 200px;
      left: 50%;
      color: white;
      background-color: $primary;
      border-radius: 5px;
      border-color: #901c1c;
      border: 0px;
      height: 50px;
      font-weight: bold;
      width: 110px;
      cursor: pointer;
      &:hover {
        background-color: $secondly;
        transition: 0.3s all ease-in-out;
        color: black;
      }
      @include mobile-only {
        position: fixed;
        top: 85vh;
        left: 30vw;
        height: 40px;
        width: 40vw;
      }
    }
    &-likeAndPrice {
      position: absolute;
      bottom: 0;
      right: 0;
      position: fixed;
      display: flex;
      justify-content: space-around;
      width: 250px;
      background-color: $secondly;
      border-radius: 4px;
      margin: 0 2rem 0 0;
      height: 45px;
      align-items: center;
      @include mobile-only {
        margin: 0.1rem;
      }
    }
  }
}

.c-dialogg {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, 0.75);
  transition: 0.2s;
}
#dialogg[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
}
// dialog box
.c-dialogg__box {
  border-radius: 5px;
  margin: auto;
  background-color: #d3573c;
  -webkit-overflow-scrolling: touch;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include mobile-only {
    margin: auto;
    max-width: 300px;
  }
}
// dialog overlay
.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, 0.75);
  transition: 0.2s;
}

// dialog box
.c-dialog__box {
  border-radius: 5px;
  margin: auto;
  background-color: #d3573c;
  -webkit-overflow-scrolling: touch;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include mobile-only {
    margin: auto;
    max-width: 300px;
  }

  & h2,
  & h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 1rem;
    @include mobile-only() {
      font-size: 1.7rem;
    }
  }
  & h2 {
    margin: 1rem 1.5rem 0 1rem;
  }
  & .closeee {
    display: inline-block;
    border: none;
    width: 50px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    background-color: $secondly;
  }
  & .closeee:before,
  & .closeee:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: white;
  }
  & .closeee:before {
    transform: rotate(45deg);
  }
  & .closeee:after {
    transform: rotate(-45deg);
  }
  & #thx {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    & .formData {
      font-size: 1.2rem;
      margin: 0 1rem;
      &--msg {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        user-select: none;
        margin: 0 1rem;

        & textarea {
          border-radius: 5px;
          overflow: hidden;

          border: 0;
          resize: none;
          margin-bottom: 1rem;
        }
      }
      & input {
        width: 100%;
        height: 50px;
        border-radius: 5px;

        border: 0;
      }
    }
    & .sendd {
      color: white;
      background-color: #901c1c;
      border-radius: 5px;
      height: 50px;
      width: 150px;
      margin: 0 1rem 1rem;

      border: 0;
      cursor: pointer;
      text-align: center;
      &:hover {
        background-color: black;
        transition: 0.3s all ease-in-out;
      }
    }
  }
}
.head {
  display: flex;
  justify-content: space-between;
}
// hidden dialog
.c-dialog[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
}

.doc {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, 0.75);
  transition: 0.2s;
}

// Modal form
.modalThum[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
}
.modalThum {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.2s;
  & .modalThumb {
    position: fixed;
    z-index: 100;
    width: 70vw;
    height: 70vh;
    left: 15vw;
    top: 15vh;
    border-radius: 5px;
    background-color: white;
    @include mobile-only {
      width: 98vw;
      top: 10vh;
      left: 1vw;
      height: 74vh;
    }
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;

      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: $primary;
      font-weight: bold;
      font-size: 50px;
      border-radius: 0 3px 3px 0;
      @include mobile-only {
        padding: 0;
      }
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */

    .close {
      display: inline-block;
      width: 50px;
      height: 50px;
      opacity: 1;
      position: absolute;
      top: -5px;
      right: -8px;
      cursor: pointer;
      transform: scale(0.7);
    }
    .close:before,
    .close:after {
      content: ' ';
      height: 50px;
      width: 5px;
      background-color: $primary;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    &-img {
      &-img {
        width: 60vw;
        margin: 5vh 5vw 0 5vw;

        height: 60vh;
        object-fit: cover;
        border-radius: 5px;
        @include mobile-only {
          width: 80vw;
          margin: 5vh 10vw 2vh 9vw;
        }
      }
      &_vid {
        width: 60vw;
        height: 60vh;
        margin: 5vh 5vw 0 5vw;
        object-fit: cover;
        border-radius: 5px;
        @include mobile-only {
          width: 80vw;
          margin: 5vh 10vw 2vh 9vw;
        }
      }
      &__title {
        color: $primary;
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 5vw;

        @include mobile-only {
          margin-left: 9vw;
        }
      }
    }
  }
}
.content[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
}

.close {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
//list réalisations
.drop {
  display: flex;
  margin-left: 4rem;
  font-weight: bold;
  @include mobile-only {
    justify-content: center;
    margin: 0;
  }
  & .p {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.borderTop {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  background-color: black;
  margin: 0 5%;
}
.borderBot {
  height: 1px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 90%;
  background-color: black;
  margin: 0 5%;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
  color: white;
  height: 50px;
  background: $primary;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-left: 2rem;

  border-radius: 5px;
}

#dropMenu {
  margin-left: 2rem;
  font-size: 0.9rem;
  &:focus {
    border: 1px solid black;
  }
}

.custom-option {
  background: $primary;
  transition: all 0.3s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: 150px;
}
.custom-option {
  height: 50px;
}
.custom-option:hover {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.custom-option.selected {
  color: #ffffff;
  &:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}
.arrow {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 1rem;
  right: 1rem;
  margin-right: 10px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.1s;
}
.arrow::before {
  left: 5px;
  transform: rotate(45deg);
  background-color: white;
}
.arrow::after {
  left: -5px;
  transform: rotate(-45deg);
  background-color: white;
}
.arrow {
  transform: rotate(179deg);
}
.arrow.open::before {
  left: 5px;
  transform: rotate(-45deg);
}
.arrow.open::after {
  left: -5px;
  transform: rotate(45deg);
}
// liste réalisation du photographe
.lists-tof {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 4rem 7rem 4rem;
  justify-content: space-between;
  @include mobile-only {
    margin: 0.5rem 1vw;
  }
  &-img {
    margin: 1rem 0.5rem;
    @include mobile-only {
      margin: 0.2rem auto;
    }
    img {
      width: 250px;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include mobile-only {
        width: 92vw;
        height: 320px;
        object-position: top;
      }
    }
    & .id {
      display: none;
    }
    &_dscr {
      width: 250px;
      display: flex;
      justify-content: space-between;
      @include mobile-only {
        width: auto;
        justify-content: space-between;
      }
      &__like {
        cursor: pointer;
        color: $primary;
        font-weight: bold;
        white-space: nowrap;
        margin: auto 0 auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & .bi {
          margin-left: 5px;
        }
      }
      &__title {
        font-weight: bold;
        color: $primary;
      }
      &__price {
        font-weight: bold;
        color: $primary;
        white-space: nowrap;
        margin: auto 10px auto;
      }
    }
  }
  &-vid {
    margin: 1rem 0.5rem;
    @include mobile-only {
      margin: 0.2rem 0.5rem;
    }
    video {
      width: 250px;
      height: 200px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include mobile-only {
        width: 92vw;
        height: 320px;
      }
    }
    & .id {
      display: none;
    }
    &_dscr {
      width: 250px;
      display: flex;
      justify-content: space-between;

      @include mobile-only {
        width: auto;
        justify-content: space-between;
      }
      &__like {
        cursor: pointer;
        color: $primary;
        font-weight: bold;
        white-space: nowrap;
        margin: auto 0 auto 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        & .bi {
          margin-left: 5px;
        }
      }
      &__title {
        font-weight: bold;
        color: $primary;
      }
      &__price {
        font-weight: bold;
        color: $primary;
        white-space: nowrap;
        margin: auto 10px auto;
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  &:focus {
    font-weight: bold;
  }
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  border-radius: 0.25em;
}
select {
  padding: 0 0.5em;
  cursor: pointer;
}

/* Arrow */
